<!-- Main-body start-->
<div class="main-body">
    <!-- Page-body start-->
    <div class="page-body">
        <!-- Basic table card start-->
        <div class="card">
            <div class="card-header">
                <h5>Category</h5>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Image</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cats.forEach((cat)=>{ %>
                                <tr>
                                    <td><%=cat.catName%></td>
                                    <td><img width="100px" src="<%=cat.catImage%>"></td>
                                    <td>
                                        <a href="/admin/category/recover?id=<%=cat.id%>">
                                            <button class="btn btn-block btn-dark">Recover</button>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- Basic table card end-->
    </div><!-- Page-body end-->
</div>