<div class="main-body">
    <!-- Page-body start-->
    <div class="page-body">
        <!-- Basic table card start-->
        <div class="card">
            <div class="card-header">
                <h5>Sales reports by day</h5>
                <span>
                    <form action="/admin/get-report" method="POST">
                        From <input <%if(locals.dateFrom){%> value="<%=dateFrom%>"<%}%> name="dateFrom" type="date" required> To <input <%if(locals.dateTo){%> value="<%=dateTo%>"<%}%> name="dateTo" type="date" required>
                        <button type="submit" class="btn-dark">submit</button>
                    </form>
                </span>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <%if(!locals.orders){%>
                            <div style="text-align: center;" class="alert alert-info" role="alert">
                                There's no data to be showed
                            </div>
                        <%}else{%>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Number of orders</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><%=orders.length%></td>
                                        <%
                                            var total=0
                                            orders.forEach(order=>{
                                                total = total + order.total
                                            })
                                        %>
                                        <td><%=total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')%> VND</td>
                                    </tr>
                            </tbody>
                        <%}%>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>